/* 版心的宽高 */

.container {
    width: 1190px;
    margin: 0 auto;
    /* background-color: orange; */
}

/* 左，右浮动 */
.leftfix {
    float: left;
}
.rightfix {
    float: right;
}
.clearfix {
    clear: both;
}
/* #region顶部导航条 */
/* 顶部导航条样式 */
.topbar {
    height: 30px;
    background-color: #ececec;
}

/* 顶部导航条中元素的样式 */
.welcome,
.topbar-nav {
    line-height: 30px;
}
.welcome {
    font-size: 0;
}
.welcome span,
a {
    font-size: 12px;
    color: #666;
    height: 16px;
}
.hello {
    margin-right: 28px;
}

.welcome .logIn {
    padding-right: 10px;
    border-right: 1px solid black;
}
.welcome .register {
    padding-left: 10px;
}

.topbar-nav .list li {
    float: left;
}
.topbar-nav .list li a {
    border-right: 1px solid black;
    padding: 0 15px;
}
.topbar-nav .list li:first-child a {
    padding-left: 0;
}
.topbar-nav .list li:last-child a {
    padding-right: 0;
    border-right: 1px hidden black;
}
/* #endregion 顶部导航条结束 */

/* #region logo和搜索栏 */
.page-header {
    height: 120px;
}
.logo {
    width: 190px;
    height: 120px;
}
#search {
    width: 510px;
    height: 36px;
    line-height: 36px;
}
.page-header .search form{
    margin-top: 42px;
    font-size: 0;
}
.page-header .search input {
    height: 34px;
    width: 508px;
    border: 1px solid #DD302D ;
}
.page-header .search  button {
    height: 36px;
    width: 80px;
    background-color: #DD302D;
    vertical-align: top;
    background-image: url('../../resources/serch_icon.png');
    background-repeat: no-repeat;
    background-position: 28px 6px;
}

/* #endregion */

/* #region 主导航区 */
.head_nav {
    height: 48px;
    border-bottom: 1px solid #DD302D;
}
.head_nav .all_types {
    background-color: #DD302D;
    width: 190px;
    height: 48px;
    color: white;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
}
.head_nav .container .head_list {
    height: 48px;
    line-height: 48px;
}
.head_list li {
    float: left;
    margin: 0 10px;
}
.head_list li a {
    font-size: 16px;
    color: #333;
}

/* #endregion 主导航区结束 */

